%ul
  - @articles.each do |article|
    = render "article_digest", :article => article

%a= button_to ("Alle Artikel einstellen")
- @articles.each do |article|
  - article.state = "active"
  - article.save