%h1
  = t('mass_upload.titles.uploaded_articles')

%ul
  - @articles.each_with_index do |article, index|
    = render "article_digest", :article => article, :index => index

= render "mass_activation"

